.theme-bg {
    background-color: rgb(248,249,250)!important;
}
.theme-bg-sec {
    background-color: #e6e6e6!important;
}
.theme-bg-ter {
    background-color: #d1d1d1!important;
}
.theme-text {
    color: #212529!important;
}
.theme-border {
    border-color: rgb(33,37,41)!important;
}


.night .theme-bg {
    background-color: #343a40!important;
}
.night .theme-bg-sec {
    background-color: rgb(33,37,41)!important;
}
.night .theme-bg-ter {
    background-color: #1a1c1d!important;
}
.night .theme-text {
    color: #f8f9fa!important;
}
.night .theme-border {
    border-color: #e6e6e6!important;
}